
<div class="container">
  <div class="logo-container">
    <img id='logo-promo' src="https://www.promobiz.md/uploads/1/3/0/0/130050179/promobiz-logo-final.png" alt="">
    <p>Analizeaza-ti Salariul Aici</p>
  </div>
  <div class="form-container">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
      <h4>Forgot Password?</h4>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    label: false,
                    placeholder: "Email" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "forgot-btn" %>
      </div>
      <div class="line"></div>
      <div class="rendered-links">
        <%= render "devise/shared/links" %>
      </div>
  </div>
  <% end %>
</div>
