<div class = "banner-new">
  <div class="create">
    <h1>Edit Your Salary</h1>
  </div>
  <div class="container">
    <%= simple_form_for @invoice do |f| %>
      <%= f.input :salary, collection: Salary::MONTHS %>
      <%= f.input :bonus %>
      <%= f.input :month %>
      <%= f.submit "Edit Salary", class: 'btn btn-primary text-white' %>
      <%= link_to "Back to Main page", invoices_path, class: 'btn btn-danger text-white', style: 'margin: 10px;'  %>
    <% end %>
  </div>
</div>
