
<div class="container-for-index">
    <% if user_signed_in? %>
      <h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h1>

      <h4>Here is your income summary for <%= Date.current.year %></h4>
  <div class="charts">
    <div class="chart-1">
        <%= column_chart Salary.group(:month).sum(:salary), width: "350px", height: "500px" %>
    </div>
    <div class="chart-2">
        <%= column_chart Salary.group(:month).sum(:bonus), width: "350px", height: "500px" %>
    </div>
  </div>
      <%= link_to "Add Salary", new_salary_path %>

    <% else %>
      <h1>Please Sign In/Sign Up to see your income</h1>
      <%= link_to "Sign In", user_session_path %>
    <% end %>
</div>
