
<div class="container-for-index">
  <% if user_signed_in? %>
    <h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h1>

    <h4>Here is your income summary for <%= Date.current.year %></h4>

    <% @salaries.each do |s| %>
    <%= s.salary %>
     <%= s.month %>
     <%= s.bonus %>
    <% end %>

    <%= line_chart Salary.group_by_month(:created_at, format: "%b %Y").count %>
  <% else %>
    <h1>Please Sign In/Sign Up to see your income</h1>
    <%= link_to "Sign In", user_session_path %>
  <% end %>
</div>
