<div class = "banner-new" style='background-image: url(https://cdn2.editmysite.com/images/editor/theme-background/stock/Mountain-Backpacking.jpg)'>
  <div class="container-salary-new">
    <h1>Adauga-ti Salariul</h1>
    <div class="salary-new">
      <%= simple_form_for @salary do |f| %>
        <%= f.input :salary,
              label: false,
              placeholder: "Salariul Primit" %>
        <%= f.input :bonus,
                    label: false,
                    placeholder: "Bonusul Primit" %>
        <%= f.input :month, collection: Salary::MONTHS %>
        <%= f.submit "Submit Salary", id: 'submit-salary' %>
        <div class="line"></div>
        <%= link_to "Back to Main page", salaries_path, id: 'back-to-main'  %>
      <% end %>
    </div>
  </div>
</div>
